<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Famille</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
         
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet"> 
    <link href="navbar-top.css" rel="stylesheet">
     <link href="assets/css/style.css" rel="stylesheet">
        <style>
			
			  #layoutSidenav {
            height: 100vh;
         
        }
        .sb-sidenav {
            width: 250px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
               background-color: rgb(247, 247, 225);
        }
        .sb-sidenav-menu-heading {
            font-size: 0.9rem;
            padding: 10px 20px;
            color: #6c757d;
        }
        .nav-link {
            padding: 10px 20px;
            color: #6c757d;
            font-size: 0.9rem;
        }
        .nav-link:hover {
            background-color: #f8f9fa;
            color: #007bff;
        }
        .sb-nav-link-icon {
            margin-right: 10px;
        }
         .active{
			 background-color: #f8f9fa;
			 color: #007bff;
		}
			
   .registration-form{
	padding: 80px 0;
}

.registration-form form{
    background-color: rgb(255, 255, 255);
   width:70%;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
 
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
 
    border: none;
    color: white;
    margin-top: 20px;
}

    </style>
    </head>
    <body class="sb-nav-fixed">
  <header id="header" class="fixed-top">
  <div class="container  d-flex align-items-center" >
    
      <nav id="navbar"class=" navbar order-last order-lg-0">
              <ul>
				   
				    <li class="dropdown"><a href="/admin"><span>Résumé</span> </a>
				    <li class="dropdown"><a href="/profile"><span>Profile</span> </a></li>
          
          </li>
			 <li class="dropdown"><a href="#"><span>Paramétres</span> <i class="bi bi-chevron-down"></i></a>
             <ul>
              <li><a href="/gestionProfils">Gestion des profils</a></li>
              <li><a href="/gestionUsers">Gestion des utilisateurs</a></li>
              <li><a href="/societe">société</a></li>
              <li><a href="/cloturerExercice">clôturer les exercices</a></li>
              <li><a href="/banque">Banques</a></li>
              <li><a href="/compteBancaire">Comptes bancaires</a></li>
              <li><a href="/modepaiement">Modes paiement</a></li>
              <li><a href="/listeDevises">Devises</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Boutiques</span> <i class="bi bi-chevron-down"></i></a>
         <ul>
			 			  <li><a href="/boutique">Ajouter Boutique</a></li>
              <li><a href="/listeBoutiques">Consulter boutiques</a></li>
            </ul>
          </li>
             <li class="dropdown"><a href="#"><span>Clients</span> <i class="bi bi-chevron-down"></i></a>
         <ul>
			 			 
              <li><a href="/client">Ajouter Client</a></li>
              <li><a href="/listClients">Consultation clients</a></li>
        
            </ul>
          </li>
                 <li class="dropdown"><a href="#"><span>Arcticles</span> <i class="bi bi-chevron-down"></i></a>
         <ul>
			 			  <li><a href="/tva">Paramétres article</a></li>
              <li><a href="/article">Ajouter Article</a></li>
              <li><a href="listeArticles">Consultation Article</a></li>
            </ul>
          </li>

          <li class="dropdown"><a href="#"><span>Devis</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/createDevis">Ajouter un devis</a></li>
              <li><a href="/listDevis"> Consultation devis</a></li>
            </ul>
          </li>
             <li class="dropdown"><a href="#"><span>Commandes</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/createCommande">Ajouter une commande</a></li>
              <li><a href="/listCommande"> Consultation commandes</a></li>
            </ul>
            
          </li>
              <li class="dropdown"><a href="#"><span>Livraison</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/createLivraison">Ajouter une livraison</a></li>
              <li><a href="/listLivraisons"> Consultation livraisons</a></li>
            </ul>
            
          </li>
          
              <li class="dropdown"><a href="#"><span>Facturation</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/createFacture">Ajouter une facture</a></li>
              <li><a href="/listFactures"> Consultation factures</a></li>
              <li><a href="/listFacturesPayees"> factures déja payées</a></li>
            </ul>
            
          </li>
        
        

        



          <a href="deconnexion"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" style="float:left; margin-left:3%;" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
  <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708Z"/>
</svg></a>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav>

    </div>
  </header>
        <div id="layoutSidenav">
            <div style="margin-top: 6%;" id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading" style="margin-top: -10%;">Paramètres articles</div>
                             <a class=" nav-link" href="/tva">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                TVA   
                            </a>
                            <a class="nav-link" href="secteur">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>Secteurs</a>
                            <a class="nav-link" href="/rayon">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Rayon
                            </a>
                            <a class="active nav-link" href="famille">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Familles
                            </a>
                             <a class="nav-link" href="marque">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Marques
                            </a>
                             <a class="nav-link" href="categorie">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Catégories
                            </a>
                             <a class="nav-link" href="taille">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tailles
                            </a>
                             <a class="nav-link" href="couleur">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Couleurs
                            </a>
                        </div>
                    </div>
                    
                        
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>

                    <div class="container-fluid px-4">
						
						
						
						  <div class="container" >
      <div class="row mt-5" >
        <div class="col-md-6">
          <form id="searchForm" action="/listeDevises" method="get" style="margin-left: 18%;">
            <div class="input-group  " >
        <input type="text" name="search" class="form-control rounded" placeholder="Chercher une famille" />
        <div class="input-group-append">
            <button class="btn" style="background-color: rgb(255, 0, 0);color: white;" type="submit">Rechercher</button>
        </div>

            </div>
          </form>
        </div>
      </div>
					  </div>
						
										
        <div class="registration-form"  style="margin-top: -5%;">
        <form style="width: 82%;" enctype="multipart/form-data" method="post" action="/famille" th:object="${famille}" th:action="@{/famille}" >
			<div class="row">
         
           </div>
    <div class="row container" >   
                    <div class="form-group">
                        <input type="text"  name="famille" class="form-control item"  placeholder="Famille">
                      
                    </div>
            </div>

<div class="row">
    <div class="form-group " >
        <input style="background-color: rgb(9, 67, 137);color: white; " type="submit" class="btn btn-block create-account" value="Enregistrer">
      </div>
</div>

    </div>
    
    </div>
   
</form>

				

                 <div class="card shadow-sm"  style="width: 79%;margin-left: 10%;margin-top: -5%;">
					 	   <div class="card-header" style="font-weight: bold;justify-content: center;text-align: center; background-color:  rgb(0, 0, 0);color: rgb(255, 255, 255);font-size: large;">
               Liste des familles
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="thead-dark container">
                        <tr >
							<th>ID</th>
                            <th>familles</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="famille : ${familles}">
							<td th:text="${famille.id}"></td>
                            <td th:text="${famille.famille}"></td>
                          
                            <td>
                                  <a href=""><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                  <a onclick="return confirm('Etes vous sûr de vouloir de supprimer cete famille')" href=""><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    </div>

                </div>
                
                


                </main>
        
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
       
        <script src="js/datatables-simple-demo.js"></script>


    </body>
</html>

